%h2 Customers
%table{ class: 'pure-table' }
  %tr
    %th Name
    %th Surname
    %th Email
    %th Phone
    %th
  - customers.each do |customer|
    %tr
      %td= customer.name
      %td= customer.surname
      %td= customer.email
      %td= customer.phone
      %td
        %a{ href: "/customers/#{customer.id}" } Show
