%div{ class: 'container-lg mt-3 clearfix' }
  %div{ class: 'col-4 float-left'}
    %h1 Customer
  %div{ class: 'offset-4 col-4 float-left'}
    %div{ class: 'form-actions mt-2' }
      %a{ class: 'btn btn-sm btn-primary', href: "/customers/#{customer.id}/appointments/new", type: 'button' } New Appointment
      %a{ class: 'btn btn-sm', href: "/customers", type: 'button' } Back
%div{ class: 'container-lg mt-3 clearfix' }
  %div{ class: 'col-4 float-left' }
    %div{ class: 'Box' }
      %div{ class: 'Box-body' }
        %h4 Name
        = customer.name
        %h4 Surname
        = customer.surname
        %h4 Email
        = customer.email
        %h4 Phone
        = customer.phone
  %div{ class: 'offset-6 col-6 d-flex flex-row flex-wrap' }
    %div{ class: 'col-4 border p-2' }
      %p{ class: 'text-bold' } Offer Name
    %div{ class: 'col-4 border p-2' }
      %p{ class: 'text-bold' } Starting at
    %div{ class: 'col-4 border p-2' }
      %p{ class: 'text-bold' } Duration
    - customer.appointments.each do |appointment|
      %div{ class: 'col-4 border p-2' }
        = appointment.offer.name
      %div{ class: 'col-4 border p-2' }
        %time{ datetime: appointment.starting_at.iso8601 }= appointment.starting_at.iso8601
      %div{ class: 'col-4 border p-2' }
        = appointment.duration
