%h2{ class: 'content-head is-center' }Customer
%div{ class: 'pure-g l-box' }
  %div{ class: 'pure-u-1 pure-u-md-1-2 pure-u-lg-3-4' }
  %div{ class: 'pure-u-1 pure-u-md-1-2 pure-u-lg-1-4' }
    %div{ class: 'pull-right' }
      %a{ href: '/customers', class: 'pure-button' } Back
      %a{ href: "/customers/#{params['customer_id']}/appointments/new", class: 'pure-button' } New Appointment
%div{ class: 'pure-g l-box' }
  %div{ class: 'pure-u-1 pure-u-md-1-3 pure-u-lg-1-4' }
    %dl
      %dt Name
      %dd= customer.name
      %dt Surname
      %dd= customer.surname
      %dt Email
      %dd= customer.email
      %dt Phone
      %dd= customer.phone
  %div{ class: 'pure-u-1 pure-u-md-2-3 pure-u-lg-3-4' }
    %table{ class: 'pure-table', style: 'margin-left:auto; margin-right:auto' }
      %tr
        %th Offer Name
        %th Starting At
        %th Duration
      - customer.appointments.each do |appointment|
        %tr
          %td= appointment.offer.name
          %td= appointment.starting_at
          %td= appointment.duration
